<div class="search-bar">

  <form class="form" [formGroup]="searchForm">
      <mat-form-field class="search" appearance="fill">
        <input matInput type="text" formControlName="search" (keyup)="searchTrem.next($event)"
          placeholder="Search Book">
      </mat-form-field>
  </form>

  <div class="books" *ngIf="searchResults">
    <app-book *ngFor="let book of pageinationItems | paginate: { itemsPerPage: 10, currentPage: page }" [book]="book" [pageinationItems]="pageinationItems"></app-book>
  </div>

  <div class="paginate" *ngIf="searchResults">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>

  <div *ngIf="errorMessage">
    <h2>Error</h2>
    <p class="error">{{ errorMessage }}</p>
  </div>
</div>
